.bannerContainer {
    width: 100%;
    max-width: 1670px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}
.title h2 {
    color: #353535;
    margin: 0;
    text-align: center;
    
}
.titleNext {
    font-size: 56px;
    font-weight: 600;
    line-height: 25px;
    
}
.titleDevelop {
    font-size: 80px;
    font-weight: 700;
}